html
head
   title Task
   body
      div
         h2 Add a new item to the task list
      br
      form(action = "/create/newtask", method = "POST")
         table(style='width:50%', border='0')
            //div
            tr
               td 
                  label(for = "name") Name: 
               td 
                  input(name = "name")
            //br
            //div
            tr
               td 
                  label(for = "description") Description: 
                  //input(name = "description")
               td
                  textarea(rows="5" name="description")
            //br
            //div
            tr
               td 
                  label(for = "targetCompletionDate") Target Completion Date: 
               td
                  input(type='date' name = "targetCompletionDate")
         br
         button(type = "submit") Create new task item
      br
      a(href = '/home') Click here to return to home page