html
   head
      title Record Removed Notification
   body
      h2 Task removed
      
      h3 Name: #{removedTask.name}
      
      h3 Description: #{removedTask.description}      
      
      a(href = '/home') Click here to return to home page